@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs-container::-webkit-scrollbar {
  width: 0;
}
.remove-scroll-bar::-webkit-scrollbar {
  width: 0;
}
.faded-gradient {
  background: linear-gradient(to bottom, transparent 0%, #000000 100%);
}

body {
  user-select: none;
}
